<p>error page works!</p>

<ul>
    <li>
        <a routerLink="/metodologias/pmi">
            Ir a PMI
        </a>
    </li>
    <li>
        <a routerLink="/metodologias/scrum">
            Ir a Scrum
        </a>
    </li>
    <li>
        <a routerLink="/metodologias/prince2">
            Ir a Prince2
        </a>
    </li>
    <li>
        <a routerLink="/metodologias/kanban">
            Ir a Kanban
        </a>
    </li>
    <li>
        <a routerLink="/metodologias/seleccion">
            Ir a Seleccion Metodología
        </a>
    </li>
</ul>